* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fffcf3;
  --secundary-color: #6D0E0E;
  --terciary-color: #183216;
  --quaternary-color: #a8a5a5;

  --main-font: 'Nunito', sans-serif;
  --decorative-font: 'Imperial Script', cursive;
}

body {
  background-color: var(--primary-color);
  font-family: var(--main-font);
}

.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-shrink: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.navbar-links a {
  color: var(--secundary-color);
  font-family: var(--main-font);
  text-decoration: none;
}

.hero-image {
  width: 100%;
  height: 440px;
  object-fit: cover;
  object-position: center;
  margin-top: 2rem;
}

.introducao-container h1 {
  margin-top: 80px;
  font-family: var(--decorative-font);
  font-weight: lighter;
  color: var(--terciary-color);
  text-align: center;
  font-size: 64px;
}

.linha {
  border: none;
  height: 1px;
  background: var(--terciary-color);
  width: 500px;
  margin: 10px auto 50px;
}

.introducao-container p {
  font-family: var(--main-font);
  color: var(--terciary-color);
  font-style: italic;
  text-align: center;
  font-size: 20px;
  margin: 25px 307px;
}

.galeria {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.galeria div {
  flex: 1;
  max-height: 420px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
}

.galeria img {
  flex: 1 1 0;
  width: 100%;
  object-fit: cover;
  display: block;
}



.classicos h2 {
  font-family: var(--decorative-font);
  color: var(--terciary-color);
  text-align: center;
  font-size: 64px;
  font-weight: lighter;
}

.classicos-receita {
  background-color: var(--primary-color);
  border-radius: 20px;
  border-radius: 20px;
  width: 850px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.classicos-imagem {
  width: 220px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  margin: 38px 33px 34px;
}

.classicos-receita-descricao h3 {
  font-family: var(--main-font);
  color: var(--terciary-color);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  margin: 33px auto;
}

.classicos-receita-descricao p {
  font-family: var(--main-font);
  color: var(--terciary-color);
  font-size: 16px;
  margin: auto 66px 46px 0;
  text-align: justify;
}

.infos {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 8px;
  font-family: var(--main-font);
  color: var(--quaternary-color);
  font-size: 14px;
}

.botao-receita {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 16px;
  padding: 10px 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 25px;
  text-transform: uppercase;
}

.faixa-vermelha {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 650px;
  background-color: var(--secundary-color);
  margin-top: -920px;
  margin-bottom: 270px;
}

.encontre-receitas h2 {
  font-family: var(--decorative-font);
  color: var(--terciary-color);
  text-align: center;
  font-size: 64px;
  font-weight: lighter;
}

.encontre-receitas p {
  font-family: var(--main-font);
  color: var(--terciary-color);
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
  font-style: italic;
  font-weight: lighter;
}


.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 70px;
}

.cards-vermelho {
  display: flex;
  flex-direction: column;
}

.cards button {
  position: relative;
  width: 320px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  text-align: center;
  height: 100px;
  border: none;
  font-family: var(--main-font);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}


.imagem-card {
  width: 320px;
  height: 380px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.bg_home {
  position: relative;
  z-index: -1;
  margin-top: -100px;
  height: 1100px;
  overflow: hidden;
}

.bg_home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.centralizado {
  display: flex;
  justify-content: center;

}

.contato {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: -800px;
  width: 1010px;
  height: 550px;
  border-radius: 20px;
  border: 2px solid #fffcf3;
}

.contato h2 {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  font-family: var(--main-font);
  color: var(--secundary-color);
  font-size: 32px;
}

.contato span {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: var(--main-font);
  color: var(--secundary-color);
  font-size: 16px;
  margin-bottom: 20px;
}


.campo label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}

.campo-msg label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}

.campo-msg textarea {
  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 14px 18px;
  color: var(--terciary-color);
  font-size: 16px;
  resize: none;
  min-height: 140px;
  min-width: 600px;
  outline: none;
  font-family: var(--main-font);
}

.form-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;

}

.campo input {
  background: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 14px 18px;
  color: var(--terciary-color);
  font-size: 16px;
  resize: none;
  width: 600px;
  outline: none;
  font-family: var(--main-font);
}



.btn-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  height: 40px;
  width: 180px;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  text-align: center;
  padding: 20px 0;
  font-family: var(--main-font);
}

.footer span+span::before {
  content: "•";
  margin: 0 8px;
  color: var(--terciary-color);
}

/* CSS somente das páginas de receita */

.img-hero-receita {
  height: 720px;
  width: 100%;
  object-fit: cover;
  object-position: 60%;

}


.nome-receita h1 {
  display: flex;
  justify-content: center;
  margin: 60px auto 30px;
  font-family: var(--decorative-font);
  font-size: 64px;
  font-weight: lighter;

}

.informacoes-receita {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--quaternary-color);
}

.card-receita-completa {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid #a8a5a5;
  display: flex;
  margin: 80px auto;
  justify-content: center;
  padding: 70px;
  width: 947px;
  height: 600px;
}

.linha-meio {
  width: 1px;
  height: 80%;
  background-color: #000;
  align-self: center;
}

.lista-ingredientes {
  margin: 40px 60px;
  max-height: 390px;
  max-width: 360px;
  font-size: 16px;
  font-family: var(--main-font);
  color: var(--terciary-color);
}

.lista-ingredientes li {
  padding-bottom: 20px;
}

.lista-modo-preparo {
  margin: 40px 60px;
  max-height: 390px;
  max-width: 360px;
  font-size: 16px;
  font-family: var(--main-font);
  color: var(--terciary-color);
}

.lista-modo-preparo li {
  padding-bottom: 20px;
}

.ingredientes h2 {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--terciary-color);
}

.modo-preparo h2 {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--terciary-color);
}

.voltar-receitas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-family: var(--main-font);
  background-color: var(--secundary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.footer-receitas {
  width: 100%;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 20px 0;
  font-family: var(--main-font);
}

.footer-receitas span+span::before {
  content: "•";
  margin: 0 8px;
  color: var(--primary-color);
}