* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fffcf3;
  --secundary-color: #6D0E0E;
  --terciary-color: #183216;
  --quaternary-color: #a8a5a5;

  --main-font: 'Nunito', sans-serif;
  --decorative-font: 'Imperial Script', cursive;
}

body {
  background-color: var(--primary-color);
  font-family: var(--main-font);
}

.navbar-container {
  position: relative;
  z-index: 2;
  height: 80px;
  width: 80%;
  background-color: var(--primary-color);
  margin: 50px auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.navbar-links {
  position: relative;
  z-index: 2;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
  white-space: nowrap;
}

.navbar-links li a {
  position: relative;
  z-index: 2;
  font-weight: medium;
  color: var(--secundary-color);
  font-family: var(--main-font);
  text-decoration: none;
}

.logo {
  width: 50px;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-shrink: 0;

}

.titulo {
  font-size: 30px;
  color: var(--secundary-color);
  font-family: var(--main-font);
  font-weight: 900;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.hero-image {
  position: relative;
  z-index: 2;
  width: 85%;
  height: 650px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.faixa-vermelha {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0%;
  left: 0%;
  background-color: var(--secundary-color);
  z-index: 0;
}

.introducao-container h1 {
  margin-top: 80px;
  font-family: var(--decorative-font);
  font-weight: lighter;
  color: var(--terciary-color);
  text-align: center;
  font-size: 96px;
}

.introducao-container p {
  font-family: var(--main-font);
  color: var(--terciary-color);
  text-align: center;
  font-size: 40px;
  max-width: 1087px;
  margin: 25px auto;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 70px;
}

.item-top-esq {
  border-radius: 20px 0 0 0;
}

.item-mid {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.item-top-dir {
  border-radius: 0 20px 0 0;
}

.item-bot-dir {
  border-radius: 0 0 20px 0;
}

.item-bot-esq {
  border-radius: 0 0 0 20px;
  grid-row: 2 / span 2;
  grid-column: 1;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classicos {
  width: 80%;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 100px auto;
  background-color: var(--secundary-color);

}

.classicos h2 {
  font-family: var(--main-font);
  color: var(--primary-color);
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.classicos-receita1 {
  background-color: var(--primary-color);
  border-radius: 20px;
  border-radius: 20px;
  width: 80%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.classicos-imagem {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  margin-right: 20px;
}

.classicos-receita1-descricao h3 {
  font-family: var(--main-font);
  color: var(--secundary-color);
  font-size: 40px;
  margin-bottom: 10px;
}

.descricao {
  font-family: var(--main-font);
  color: var(--terciary-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.Tempo {
  font-style: italic;
  margin-bottom: 20px;
  color: var(--quaternary-color);
}

.botao-receita {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

.encontre-receitas {
  width: 80%;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 100px auto;
  background-color: var(--secundary-color);
}

.encontre-receitas h2 {
  font-family: var(--main-font);
  color: var(--primary-color);
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}